.App {

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-title {
  text-align: center;
  color: #2B2C31;
}
.content{
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
}
.content-left{
  flex: 1;
}
.content-right{
  flex: 1;
}