.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-title {
  text-align: center;
  color: #2D2D2D;
}

.content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap-reverse;
}

.content-left {
  flex: 1 auto;
}

.content-right {
  flex: 1;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 5px;
  }
}