.position-item {
  background-color: #756F7D;
  border: 1px solid #7B5B8D;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 20px;
}

.position-image {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.position-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.position-price {

}

.position-name {
  white-space: nowrap;
  margin: 0;
  font-size: 20px;
}